<div [ngClass]="{'card_container, card_extra_container': this.tarefa().custo >= 1000,
                'card_container': this.tarefa().custo < 1000
}">
    <div class="content_container">
        <div class="id_container">
            <p>Id: {{this.tarefa().id}}</p>
        </div>
        <div class="nome_container">
            <p>Nome da tarefa: {{this.tarefa().nome}}</p>
        </div>
        <div class="custo_container">
            <p>Custo: R${{this.tarefa().custo}}</p>
        </div>
        <div class="data_container">
            <p>Data Limite: {{this.tarefa().dataLimite}}</p>
        </div>
    </div>
   <div class="opcoes_container">
        <button id="btn_editar">Editar</button>
        <button id="btn_excluir">Excluir</button>
   </div>
</div>